---
import Layout from '../../layouts/Layout.astro';
import DESTINATIONS from "../../lib/destination"

export function getStaticPaths() {
  return DESTINATIONS.map((destination:any)=>({params:{slug:destination.slug}}));
}

const { slug } = Astro.params;
const destination=DESTINATIONS.find((des)=>(des.slug==slug))

---


<Layout title="Welcome to Astro.">
    <section>
              <div class="top-destination">
                <div class="img-relative">
                  
                  {destination?.header_images.map((header_image,index)=>(
                    <div class={`animated fadeIn des-${index+1} ${(index==0)?'':'hide'}`}>
                    <img alt="des-1-lg" class="img-responsive img-100" src={header_image.lg}>
                    <div class="text-destination">
                      <div class="text-table">
                        <div class="text-cell">
                          <h1>
                            {destination?.title}
                          </h1>
                          <p>
                            {destination?.sub_title}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>))}
                  
                  <div class="wrap-info-destination">
                    <div class="container">
                      <ul class="left-icon-destination">
                        <li class="active">
                          <div class="icon-wrap">
                            <i aria-hidden="true" class="fa fa-heart md-size"></i>
                          </div>
                          <div class="count-text">
                            12.450
                          </div>
                        </li>
                        <li>
                          <div class="icon-wrap">
                            <i aria-hidden="true" class="fa fa-map-marker md-size"></i>
                          </div>
                          <div class="count-text">
                            10,302
                          </div>
                        </li>
                      </ul>
                      <div class="right-icon-destination">
                        <ul>
                          <li>
                            1
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="point-destination">
                  <div class="container">
                    <div class="point-slider-image-destination auto-position">
                      <ul>
                        {destination?.header_images.map((header_image,index)=>(
                          <li class={`active active-${index+5}`} style={`background: url('${header_image.sm}') no-repeat center center; background-size: cover;`}>
                          <div class="hover-active">
                            &nbsp; 
                          </div>
                          <div class={`span-active act-${index+5} ${index==0?'':'hide'}`}>
                            <div class="svg-table">
                              <div class="svg-cell">
                                <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg>
                              </div>
                            </div>
                          </div>
                        </li>
                  ))}
                       
                        <li>
                          <div class="weather-wrap orange-version">
                            <div class="weather-left">
                              <div class="weather-text">
                                Weather
                                <div class="icon-weather">
                                  <div class="icon">
                                    <img alt="cloud-white" src="/assets/images/cloud-white.png">
                                  </div>
                                  <div class="text-weather count">
                                    24
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="weather-right">
                              <div class="weather-text">
                                5 Sep 2016
                                <div class="icon-weather">
                                  <div class="icon">
                                    <img alt="wing-white" src="/assets/images/wing-white.png">
                                  </div>
                                  <div class="text-weather count">
                                    20
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class="info-place">
                      <div class="row">
                        <div class="col-sm-4">
                          <div class="title-des">
                            Share this place
                          </div>
                          <ul class="des-socmed round-template">
                            <li>
                              <div class="icon-wrap">
                                <i aria-hidden="true" class="fa fa-facebook md-size"></i>
                              </div>
                            </li>
                            <li>
                              <div class="icon-wrap">
                                <i aria-hidden="true" class="fa fa-twitter md-size"></i>
                              </div>
                            </li>
                            <li>
                              <div class="icon-wrap">
                                <i aria-hidden="true" class="fa fa-envelope md-size"></i>
                              </div>
                            </li>
                            <li>
                              <div class="icon-wrap">
                                <i aria-hidden="true" class="fa fa-pinterest-p md-size"></i>
                              </div>
                            </li>
                          </ul>
                        </div>
                        <div class="col-sm-4">
                          <div class="title-des">
                            5 People Like This Place
                          </div>
                          <ul class="photo-like">
                            <li>
                              <div class="photo-wrap photos-1">
                                &nbsp;
                              </div>
                            </li>
                            <li>
                              <div class="photo-wrap photos-2">
                                &nbsp;
                              </div>
                            </li>
                            <li>
                              <div class="photo-wrap photos-3">
                                &nbsp;
                              </div>
                            </li>
                            <li>
                              <div class="photo-wrap photos-4">
                                &nbsp;
                              </div>
                            </li>
                          </ul>
                        </div>
                        <div class="col-sm-4">
                          <div class="title-des">
                            Contact Us
                          </div>
                          <ul class="round-template">
                            <li>
                              <div class="icon-wrap">
                                <i aria-hidden="true" class="fa fa-phone md-size"></i>
                              </div>
                            </li>
                            <li class="phone-number">
                              901 901 877 89
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="description">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-10">
                      <div class="content-des">
                        <h3>
                            {destination?.title}
                        </h3>
                        <hr>
                        {destination?.p1.map((p)=>(
                         <p>
                         {p}
                        </p>
                        ))}
                        
                      
                      </div>
                      <div class="content-highlights">
                        <h3>
                            {destination?.title} Highlights
                        </h3>
                        <div style="position: relative; padding-bottom: 56.25%; /* 16:9 aspect ratio */ height: 0;">
  <iframe
    allow="autoplay; fullscreen"
    src={destination?.video}
    allowfullscreen=""
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
    title={`${destination?.title}: The Adventure | Free Documentary`}
  ></iframe>
</div>

                      </div>
                      <div class="content-contact-me hidden-xs hidden-sm">
                        {destination?.p2.map((p)=>(
                            <p>
                            {p}
                           </p>
                           ))}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="information-safari">
                <div class="container">
                  <h2>
                    In this moment ready to more deep ?
                  </h2>
                  <div class="button-wrap mar-top-20 mar-btm-0">
                    <div class="form-group mar-btm-0">
                      <button class="btn button-default btn-orange">Bring me There !</button>
                    </div>
                  </div>
                </div>
              </div>
            </section>
    </Layout>
    
    